/****** General ***********/

:root {
	--main-color:#9356DC;
	--black-color: #FF79DA;
	--white-color: #99E2D0;
}

/****** défilement fluide de la page html ***********/
html {
	scroll-behavior: smooth;
}
/* icônes */
.fa-solid {
	color: var(--main-color) ;
	gap: 10px;
}
/* étoiles - coeur à tester  */
.fa-solid .neutral-star {
	color: var(--main-color);
}
/* picto input localisation  */
.fa-solid.fa-location-dot {
	padding: 16px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
/* picto rond  */
.fa-rond {
	border: 1px solid var(--main-color);
	border-radius: 50%;
	
	
}

body {
	display: flex;
	justify-content: center;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

h1 {
	font-size: 22px;
	margin-bottom: 8px;
}

h2{
	font-size: 18px;
	margin: 0px;
}
h3{
	font-size: 18px;
	margin: 0px;
}
/* sous titre police */
h3 {
	display: block;
	font-size: 18px;
	font-weight: bold;
}

.section-title {
	margin: 0;
	font-size: 22px;
}

.main-container {
	width: 100%;
	max-width: 1440px;
	padding: 0 50px;
	box-sizing: border-box;
}

@media screen and (max-width: 768px) {
	.main-container {
		padding: 0;
		width: 375px;
	}}


.card {
	background-color: white;
	border-radius: 20px;
	padding: 0px;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.25);
	width:100%;
	width:335px;
	height:73px;
}

.card img {
	object-fit: cover;
	width: 100%;
}


@media screen and (max-width: 768px) {
	.card img {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-radius: 20px;
		width: 100%;
		height: 70%;
		border-color: #000;
	
	}}

.card-title {
	font-size: 16px;
	display: flex;
}

.card-content {
	padding: 0 15px;

}

.euro {
	font-weight: 700;
}

.neutral-star {
	color: var(--main-bg-color)
}

/* HEADER */

header {
	display: flex;
	justify-content: space-between;

}

@media screen and (max-width: 768px) {
	header {
		flex-direction: column;
		align-content: center;
		align-items: center;
		width: 375px;
	}}

/* logo booki */
header img {
	height: 36x;
	width:136px;
	margin: 30px 0;
	align-items: center;
	
}

.text {
	width :100%;

}
@media screen and (max-width: 768px) {
	.text {
	width: 375px;
			
	}}

.text-subtitle p {
	margin-top: 0;
	
}

/* DIV : barre de recherche */
.input-section {
	display: flex;
	border: 0;
	height: 70px;
	width: 377px;
	
}

@media screen and (max-width: 768px) {
	.input-section {
		justify-content: space-between;
		width: 100%;
		width: 375px;
		
	}}
	
/* bloc 1 Paris, Belleville de la barre de recherche */
.input-section .input-section-field {
align-items: center;
	border: 1px solid var(--main-bg-color);
	border-right: 0;
	width: 100%;
	
}

/* texte Paris, Belleville de la barre de recherche */
.input-section-field::placeholder {
	color: var(--black-color);
	font-weight: 700;
	font-size: 1.125rem;/* 18px */
	align-items: center;
	justify-content: center;
	
}

@media screen and (max-width: 768px) {
	.input-section-field [type="submit"] {
		width: 100%;
		justify-content: space-between;
		margin: 0;
		padding: 0;
		width: 100%;
		
	}}

/* barre de recherche formulaire 1 */
.input-section input[type="submit"] {
	background-color: var(--main-color);
	color: var(--white-color);
	font-weight: 700;
	font-size: 18px;
	padding: 14px 16px;
	border: 1px solid var(--main-color);
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	display: block;
	height: 70px;
	border:solid;
}

@media screen and (max-width: 768px) {
	.input-section input[type="submit"] {
		display: none;
		justify-content: space-between;
		margin: 0;
		padding: 0;
		width: 100%;
	}}

.card-bouton  {
	width: 218px;
	height: 50px;
	border-radius: 20px;
	background-color: #9356DC;
	justify-content: center;
	align-items: center;
	color:white;


}
@media screen and (max-width: 768px) {
	.card-bouton ul li {
	
	align-items: center;
}}


/****** RESTAURANTS ***********/
/* DIV  (bouton 1, bouton 2, bouton 3, */ 

#menu ul {
	padding: 0; /* suppression du padding */
	display: grid;
	grid-template-columns: 2fr;
 

}
@media screen and (max-width: 794px) {
	#menu ul {
		display: grid;
		grid-template-columns: 1fr;
		gap: 15px;
		width : 335px;
	    height: 73px;
		border-radius: 20px;
		justify-content:flex-start;
		
		
	}}



	

#menu ul .fa-solid {
	margin-right: 10px;
}



/* DIV bulles ( bouton 1, bouton 2, bouton 3 ) */
.filtre {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 35px;
	margin-left: 15px;
	gap: 15px;

}


@media screen and (max-width: 768px) {
	.filtre {
		margin-left: 0;
	}}

@media screen and (max-width: 1024px) {
	.filtre {
		flex-direction: column;
		align-items: start;
		gap: 20px;
	}}

/* bulles ( bouton 1, bouton 2, bouton 3 )*/
#menu li {

	border-radius: 50px;
	padding: 15px 20px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0;
	font-size: 18px;
	font-weight: 700;
	gap: 20px;	
	width: 375px;
	height:73px;	
}

@media screen and (max-width: 768px) {
	#menu li {
		padding: 15px 11px;
		font-size: 14px;
		gap: 6px;
		width: 335px;
		height:73px;	
	}}
	@media screen and (max-width: 1440px) {
		#menu li {
			font-size: 14px;
			gap: 10px;
			width: 335px;
			height:73px;	
		}}
	
/* /* Couleur de fond au survol des bulles ( bouton 1, bouton 2, bouton 3 ) */
#menu li a:hover {
	background-color: var(--filter-bg-color);
	/* Couleur de fond au survol */
}

/****** RESTAURANTS ***********/

.restaurants section {
	background-color: var(--secondary-main-bg-color);
	border-radius: 20px;
	padding: 30px;
	box-sizing: border-box;

  }
  
  .restaurants-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin:10px;
	padding: 10px;
	gap:10px;
	
  }
  
  .restaurants-cards a {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: calc(25% - 15px);
  }
  
  .restaurants-cards .card {
	height: 100%;
  }
  
  .restaurants-cards .card img {
	height: 251px;
	width: 340px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
  }
  
  .restaurants-cards .card-title {
	margin: 20px 20px;
  }
  @media (max-width: 1024px) {
	.restaurants-cards {
	  flex-direction: column;
	  gap:15px;
	}}
  
	.restaurants {
	  width: 100%;
	}

/* FOOTER */

footer {
	display: flex;	
	justify-content: space-around;
	background-color: var(--main-bg-color);
	padding: 15px;
	background-color: black;
	color:white;
}

@media screen and (max-width: 768px) {
	footer {
		flex-direction: column;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 30px;
		margin: 0;
		padding: 20px;
	}}

