/****** General ***********/


  
  .roboto-regular {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
  }
  

:root {
	--blue-gray-color:#c5e2f8;
	--black-color: #000;
	--gray-color: #d5f0f8;
	--blue-color:#89c8fa;
	--green-color:#99e2d0;
	--pink-color:#fcc0ce;
}

/****** défilement fluide de la page html ***********/
html {
	scroll-behavior: smooth;
}
/* icônes */
.fa-solid {
	color: violet ;
	
}
/* étoiles - coeur à tester  */
.fa-solid .neutral-star {
	color: var(--main-color);
}
/* picto input localisation  */
.fa-solid.fa-location-dot {
	padding: 16px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
/* picto rond  */
.fa-rond {
	border: 1px solid var(--main-color);
	border-radius: 50%;	
}

body {
	display: flex;
	justify-content: center;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

h1 {
	font-size: 22px;
	margin-bottom: 8px;
}

h2{
	font-size: 18px;
	margin: 0px;
	
	
}
h3{
	font-size: 18px;
	margin: 0px;
	display: block;
	font-size: 18px;
	font-weight: bold;
}

.section-title {
	margin: 0;
	font-size: 22px;
}

.main-container {
	width: 100%;
	max-width: 1440px;
	padding: 0;	
}

.card {
	background-color: #f6f6f6;
	border-radius: 20px;
	padding: 0px;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.25);
	min-width: 260px;
	height: 73px;

}

/* @media screen and (min-width: 768px) {
	.card {
		width: 335px;
		height: 73px;			
	}
} */

.card img {
	object-fit: cover;
	width: 340px;
	height:231px;
}

@media screen and (max-width: 768px) {
	.card img {
		width:70%;
	
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-radius: 20px;
		border-color: #000;
	
	}
}

.card-content {
	padding: 0;
	width:100%;
	height:150px;
}

.card-content .card-title {
	font-size: 16px;
	display: flex;
}

.euro {
	font-weight: 700;
}

.neutral-star {
	color: var(--main-bg-color)
}


/* card-menu => page menu */

.card-menu {
	background-color: white;
	border-radius: 20px;
	padding: 0px;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.25);
	width: 100%;
	height: 73px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}
	
@media screen and (max-width: 768px) {
	.card-menu {
		width: 375px;
							
	}
}


/* HEADER */

header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* logo  */
header img {
	height: 36x;
	width:136px;
	margin: 30px 0;
	align-items: center;
	
}
header div.filter-search {
	width:100%;
	background-color:lightgray;
	display: flex;
	justify-content: center;

}


/* SECTION TWO */

.section-two {
	background-color: #f6f6f6;
	display: flex;
	flex-direction: center;
	align-items: center;
	justify-content: center;
	padding:30px;
}

.section-two-text {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.card-hero img{
width:1024px;
height:275px;
margin:50px;

}

@media screen and (max-width: 768px) {
	.card-hero img{
		width:100%;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-color: #000;
		margin:0px;
	
	}}

	.filtre-menu {
		display: flex;
		flex-direction :column;
		justify-content: center;
		align-items: center;
		gap:15px;
		margin:10px;
		
	}
	
	@media screen and (max-width: 768px) {
		.filtre-menu {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width:100%;
			
		}}



/* DIV : barre de recherche */
.input-section {
	display: flex;
	border: 0;
	height: 50px;	
}

@media screen and (max-width: 768px) {
	.input-section {
		justify-content: space-between;
		background-color: lightgray;	
	}}

	.input-section-label .fa-solid.fa-location-dot {
		color: black;

	}
	
/* bloc 1 Paris, Belleville de la barre de recherche */
.input-section .input-section-field {
	
	border: 1px solid var(--main-bg-color);
	border-right: 0;
	background-color: transparent;
	
}

/* texte Paris, Belleville de la barre de recherche */
.input-section-field::placeholder {
	color: black;
	font-weight: 700;
	font-size: 1.125rem;/* 18px */
	align-items: center;
	justify-content: center;
	
}

@media screen and (max-width: 768px) {
	.input-section-field [type="submit"] {
		width: 100%;
		justify-content: space-between;
		margin: 0;
		padding: 0;
		width: 100%;
		
	}
}

/* barre de recherche formulaire 1 */
.input-section input[type="submit"] {
	background-color: var(--main-color);
	color: var(--white-color);
	font-weight: 700;
	font-size: 18px;
	padding: 14px 16px;
	border: 1px solid var(--main-color);
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	display: block;
	height: 70px;
	
}

@media screen and (max-width: 768px) {
	.input-section input[type="submit"] {
		display: none;
		justify-content: space-between;
		margin: 0;
		padding: 0;
		width: 100%;
	}
}


.card-bouton  {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 218px;
	height: 50px;

	border-radius: 20px;
	background: linear-gradient(135.9deg, rgb(109, 25, 252) 16.4%, rgb(125, 31, 165) 56.1%);
	color:white;


}
@media screen and (max-width: 768px) {
	.card-bouton {
		display: flex;
		justify-content: center;
		align-items: center;
	
		width: 218px;
		height: 50px;
	
		border-radius: 20px;
		background: linear-gradient(135.9deg, rgb(109, 25, 252) 16.4%, rgb(125, 31, 165) 56.1%);
		color:white;
		
	}}





/****** RESTAURANTS ***********/
/* DIV  (bouton 1, bouton 2, bouton 3, */ 

#menu ul {
padding: 0;
	display: flex;
	justify-content: center;
}
@media screen and (max-width: 794px) {
	#menu ul {
		display: flex;
		justify-content: center;
	}}

#menu ul .fa-solid {
	margin-left: 0px;
	text-align: left;	
}

/* DIV bulles ( bouton 1, bouton 2, bouton 3 ) */

.filtre {
	display: flex;
	align-items: center;
	gap:15px;
}

@media screen and (max-width: 768px) {
	.filtre {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width:100%;
		
	}}



/****** RESTAURANTS ***********/

.restaurants section {
    background-color: var(--secondary-main-bg-color);
    padding: 30px;
}

.restaurants-cards {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
	gap:20px;
}

@media screen and (min-width: 600px) {
	.restaurants-cards {
		grid-template-columns: repeat(2, 2fr);
	}
}

@media screen and (min-width: 1024px) {
	.restaurants-cards {
		gap: 40px;
	}
}

@media screen and (min-width: 1300px) {
	.restaurants-cards {
		gap: 60px;
	}
}

.restaurants-cards .card {
   /* max-width:490px; */
   height:251px;	
}
  

.restaurants-cards .card img {
    width: 100%;
	height:200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

@media screen and (max-width: 768px) {
    .restaurants-cards .card img{
        width: 100%;
        display: flex;
        flex-direction: column;
       
        border-radius: 15px 15px 0px 0;

    }}

.restaurants-cards .card-title {
  margin: 20px 20px;
}


.restaurants-cards .card-rating {
    margin-bottom: 5px;
}





footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
	color: white;
    padding: 15px;
}

@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap:15px;
        margin: 0;
        padding:10px;
            }}


			/* BOUTONS CRÉES */


			.circle-button {
				width: 24px;
				height: 24px;
				border-radius: 50%; /* Pour faire le bouton en forme de cercle */
				border: none;
				background-color: #9356dc; /* Couleur de fond */
				color: #fff; /* Couleur du texte */
				font-size: 14px;
				font-weight: bold;
				cursor: pointer;
				outline: none; /* Supprime la bordure lorsqu'on clique sur le bouton */
			
			  }
			  
			  .nouveau-button {
				width: 80px;
				height: 29px;
				position:left 35px;
				border-radius:2px;
				background-color: var(--green-color);
				color:white;
				border-color: transparent;
				display: flex;
				flex-direction: row;

			  }

			  .click-button {
				
					width: 60px;
					height: 73px;
					border-radius: 0px 15px 15px 0px;
					background-color: var(--green-color);
					border-color: transparent;
					font-size: 24px;
					font-weight: bold;
					cursor: pointer;
					outline: none; /* Supprime la bordure lorsqu'on clique sur le bouton */
				  }
				  .click-button .fa-solid .fa-check {
					background-color:white;
					border-radius:50%;

				  }


			 .small-line {
			width: 40px;
			height: 3px;
			
			background-color:var(--green-color);
			

			 }

			 	/* TENTATIVES BOUTONS A CRÉER */

			 .image-container {
				position: relative;
				display: inline-block;
				border:solid;
				width:80px;
				height: 29px;
			  }
			  
			  .overlay {
				position: absolute;
			
			
				background-color: var(--green-color); /* Couleur de fond semi-transparente */
			  }
			  