/****** General ***********/

:root {
	--blue-gray-color: #c5e2f8;
	--black-color: #000;
	--gray-color: #d5f0f8;
	--blue-color: #89c8fa;
	--green-color: #99e2d0;
	--pink-color: #fcc0ce;
	--light-gray-color: #eaeaea;
  }
  
  /****** défilement fluide de la page html ***********/
  html {
	scroll-behavior: smooth;
  }
  /* icônes */
  .fa-solid .fa-heart {
	color: violet;
  }
  .fa-solid {

	opacity: 0px;
	color: #9356dc;

  }
  
  /* picto input localisation  */
  .fa-solid.fa-location-dot {
	padding: 16px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
  }
  /* picto rond  */
  .fa-rond {
	border: 1px solid var(--main-color);
	border-radius: 50%;
  }
  
  body {
	margin: 0;
    padding: 0;
    height: 100%;
  }
  
  a {
	color: inherit;
	text-decoration: none;
  }
  
  h1 {
	width: 275px;
	height: 68px;
	top: 152px;
	left: 42px;
	gap: 0px;
	opacity: 0px;
  
	font-family: Roboto;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.13px;
	text-align: center;
  }
  
  .sous-titre {
	width: 315px;
	height: 46px;
	top: 220px;
	left: 34px;
	gap: 0px;
	opacity: 0px;
	margin: 15px;
  
	font-family: Roboto;
	font-size: 18px;
	font-weight: 300;
	line-height: 21.09px;
	text-align: center;
  }
  
  h2 {
	width: 275px;
	height: 31px;
	top: 448px;
	left: 20px;
	gap: 0px;
	opacity: 0px;
  
	font-family: Roboto;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.13px;
	text-align: left;
  }
  
  h3 {
	font-size: 18px;
	margin: 0px;
	display: block;
	font-size: 18px;
	font-weight: bold;
  }
  
  h4 {
	font-family: Roboto;
	font-size: 18px;
	font-weight: 700;
	line-height: 21.09px;
	text-align: left;
  }
  
  .section-title {
	margin: 0;
	font-size: 22px;
  }
  
  .main-container {
	width: 100%;
	max-width: 1440px;
	padding: 0;
  }
  
  .card {
	background-color: #f6f6f6;
	border-radius: 20px;
	padding: 0px;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.25);
	min-width: 260px;
	position: relative;
	margin:0px;
  
	
  }
  
  @media screen and (max-width: 768px) {
	.card {
	  width: 100%;
	  margin: 0 auto 20px;
	}
  }
  
  .card img {
	object-fit: cover;
  }
  
  @media screen and (max-width: 768px) {
	.card img {
	  flex-direction: column;
	  align-items: center;
	  justify-content: center;
	  border-radius: 20px;
	  border-color: #000;
	}
  }
  
  .card h4 {
	margin-bottom: 5px; /* Ajouter un peu d'espace en bas du titre */
  }
  
  .card div.nouveau-tag {
	border-radius: 2px;
	background-color: var(--green-color);
	color: green;
  
	display: inline;
	padding: 6px;
	position: absolute;
	top: 10px;
	right: 10px;
  }
  
  .card-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
  }
  
  @media screen and (max-width: 768px) {
	.card-content h4 {
	  margin: 0; /* Supprimer les marges par défaut */
	}}
  
	
  
  .euro {
	font-weight: 700;
  }
  
  .neutral-star {
	color: var(--main-bg-color);
  }
  
  /* card-menu => page menu */
  
  .card-menu {
	background-color: white;
	border-radius: 20px;
	padding: 0px;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.25);
	width: 322px;
	height: 73px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 30px;
	margin: 20px;
	left: 30px;
  }
  
  @media screen and (max-width: 768px) {
	.card-menu {
	  width: 335px;
	  height: 72.38px;
	  top: 505px;
	  left: 20px;
	}
  }
  
  .card-menu ul {
	position: relative;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	line-height: 18.75px;
	text-align: left;
  }
  
  /* HEADER */
  
  header {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
    padding: 0px 0;
  }

  
  header .brand {
	width: 100%;
	display: flex;
	justify-content: center;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
	z-index: 100;
  }
  /* logo  */
  header img {
	height: 36x;
	width: 136px;
	margin: 30px 0;
	align-items: center;
  }

  .adaptive-image {
    max-width: 100%;
    height: auto;
}

/* Media query pour les écrans larges */
@media (min-width: 1440px) {
    .adaptive-image {
        max-width: 1440px; /* Limite la largeur de l'image à 1440px */
        height: 383px; /* Hauteur spécifique pour les grands écrans */
        position: absolute; /* Pour positionner l'image */
        top: 96px; /* Distance par rapport au haut de la page */
        left: 50%; /* Pour centrer l'image horizontalement */
        transform: translateX(-50%); /* Pour centrer l'image horizontalement */
    }
}

  
  header div.filter-search {
	width: 100%;
	background-color: var(--light-gray-color);
	display: flex;
	justify-content: center;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
  /* SECTION TWO */
  
  .section-two {
	background-color: #f6f6f6;
	display: flex;
	flex-direction: center;
	align-items: center;
	justify-content: center;
	padding: 30px;
  }
  
  .section-two-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
  }
  
  .filtre-menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
	margin: 10px;
  }
  
  @media screen and (max-width: 768px) {
	.filtre-menu {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  width: 100%;
	}
  }
  
  /* DIV : barre de recherche */
  .input-section {
	display: flex;
	border: 0;
	height: 50px;
  }
  
  @media screen and (max-width: 768px) {
	.input-section {
	  justify-content: space-between;
	}
  }
  
  .input-section-label .fa-solid.fa-location-dot {
	color: black;
  }
  
  /* bloc 1 Paris, Belleville de la barre de recherche */
  .input-section .input-section-field {
	border: 1px solid var(--main-bg-color);
	border-right: 0;
	background-color: transparent;
  }
  
  /* texte Paris, Belleville de la barre de recherche */
  .input-section-field::placeholder {
	color: black;
	font-weight: 700;
	font-size: 1.125rem; /* 18px */
	align-items: center;
	justify-content: center;
  }
  
  @media screen and (max-width: 768px) {
	.input-section-field [type="submit"] {
	  width: 100%;
	  justify-content: space-between;
	  margin: 0;
	  padding: 0;
	  width: 100%;
	}
  }
  
  /* barre de recherche formulaire 1 */
  .input-section input[type="submit"] {
	background-color: var(--main-color);
	color: var(--white-color);
	font-weight: 700;
	font-size: 18px;
	padding: 14px 16px;
	border: 1px solid var(--main-color);
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	display: block;
	height: 70px;
  }
  
  @media screen and (max-width: 768px) {
	.input-section input[type="submit"] {
	  display: none;
	  justify-content: space-between;
	  margin: 0;
	  padding: 0;
	  width: 100%;
	}
  }
  
  .card-bouton {
	display: flex;
	justify-content: center;
	align-items: center;
  
	width: 218px;
	height: 50px;
	top: 293px;
	left: 82px;
	gap: 15px;
	opacity: 0px;
  
	border-radius: 20px;
	background: rgb(147, 86, 220);
	background: linear-gradient(
	  0deg,
	  rgba(147, 86, 220, 1) 0%,
	  rgba(255, 121, 218, 1) 100%
	);
	color: white;
  
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	line-height: 18.75px;
	text-align: center;
  }
  @media screen and (max-width: 768px) {
	.card-bouton {
	  display: flex;
	  justify-content: center;
	  align-items: center;
  
	  width: 218px;
	  height: 50px;
  
	  border-radius: 20px;
	}
  }
  
  /****** RESTAURANTS ***********/
  /* DIV  (bouton 1, bouton 2, bouton 3, */
  /****** SECTION THREE ***********/
  .section-three .info-steps {
	padding: 50px;
  }
  @media screen and (max-width: 768px) {
	.section-three {
	  padding: 20px;
	}
  }
  
  .section-three #menu ul {
	padding: 0;
	display: flex;
	justify-content: center;
  }
  
  #menu ul .fa-solid {
	margin-left: 0px;
	text-align: left;
  }
  
  /* DIV bulles ( bouton 1, bouton 2, bouton 3 ) */
  
  .filtre {
	display: flex;
	align-items: center;
	gap: 15px;
  }
  
  @media screen and (max-width: 768px) {
	.filtre {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  width: 100%;
	}
  }
  
  /****** RESTAURANTS ***********/
  
  .restaurants section {
	background-color: var(--light-gray-color);
	padding: 50px;
	border: solid;


  }
  
  @media screen and (max-width: 768px) {
	.restaurants section {
	  padding: 20px;
	}
  }
  
  .restaurants-cards {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	justify-content: space-between;
	gap: 20px;
  }
  
  @media screen and (min-width: 600px) {
	.restaurants-cards {
	  grid-template-columns: repeat(2, 2fr);
	}
  }
  
  @media screen and (min-width: 1024px) {
	.restaurants-cards {
	  gap: 40px;
	}
  }
  
  @media screen and (min-width: 1300px) {
	.restaurants-cards {
	  gap: 60px;
	}
  }
  
  .restaurants-cards .card img {
	width: 100%;
	height: 200px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
  }
  
  @media screen and (max-width: 768px) {
	.restaurants-cards .card img {
	  width: 100%;
	  display: flex;
	  flex-direction: column;
  
	  border-radius: 15px 15px 0px 0;
	}
  }
 
  
  .restaurants-cards .card-rating {
	margin-bottom: 5px;
  }
  

  
  .content {
	padding: 20px;
  }
  
  footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
  }
  
  .footer-content {
	display: flex;
	justify-content: space-between;
	
	gap: 20px;
  }
  
  @media screen and (min-width: 768px) {
	.footer-menu {
		display:flex;
		gap:20px;

	}}

  .logo img {
	width: 100px;
	filter: invert(100%);
  }
  
  /* Media Query pour les écrans de taille maximale de 768px (taille typique des smartphones) */
  @media (max-width: 768px) {
	.footer-content {
	  flex-direction: column;
	  text-align: left;
	  margin-left: 0;
	  margin-right: 0;
	}
  
	.footer-section {
	  margin-bottom: 10px;
	 
	  text-align: left;
	}
  }
  
  /* Media Query pour les écrans de taille minimale de 769px (grands écrans) */
  @media (min-width: 769px) {
	.footer-content {
	  align-items: flex-start;
	  justify-content: flex-end;
	  margin-right: 10px;
	}
  
	.logo {
	  order: 5;
	}}
  
  .circle-button {
	width: 14px;
	height: 14px;
	top:calc(50% - 12px);
	line-height: 14px;;
	border-radius: 50%;
	background-color: #9356dc;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	padding: 5px;
	position: absolute;
	left: -12px;
	display: flex;
	justify-content: center;
  }
  
  
  .small-line {
	width: 40px;
	height: 3px;
	background-color: var(--green-color);
  }
  
  /* style page menu */
   /* rectangle choix : entrée, plats, desserts */ 
  .option {
	width: 375px;
	height: 73px;
	position: relative;
	background-color: #ffffff;
	border-color: transparent;
	border-radius: 5px;
	margin-bottom: 10px;
	display: flex; 
	justify-content: space-between; 
	align-items: center; 
	padding:5px;

  }
  
  .subtitle {
	font-size: 14px;
	color: #666666;
  }
  
  .price {
	font-size: 14px;
	color: #000;
	padding-right: 10px; 
  }
  

/* travail sur l'image du header */

.header-image {
    width: 1440px;
    height: 383px;
    object-fit: cover; /* pour garder les proportions de l'image sans déformation */
    /* margin-top: 0px; /* positionner l'image 96px du haut de la page */

}
@media (max-width: 768px) {
	.header-image{
    width: 100%;
    height: 383px;

}}
/* en tête avec flèche et logo */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
	gap:0px;
}

/* Styles pour la section des entrées, plats et desserts */
.menu-section {
    background-color:var(--light-gray-color); 
    width: 1055px; 
    height: 1221px;
    top: 439px;
    left: 193px;
    gap: 0px;
    opacity: 0px;
    margin: 20px auto; 
    padding: 20px;
    text-align: center;
	display: flex;
	flex-direction: column;
    align-items: center;
	justify-content: center;
	border-radius:20px 20px 0 0;
}

/* Styles pour les petits écrans */
@media screen and (max-width: 768px) {
    .menu-section {
        width: auto;
        height: auto;
        top: auto;
        left: auto;
        opacity: 1;
    }}
/* logo et titre du menu */
.section-title {
    margin-bottom: 20px;
}

/* bouton vert qui apparaît au survol */
.submit-button {
    width: 50px;
    height: 73px;
    background-color: var(--green-color);
    cursor: pointer;
    align-self: flex-end; /* Place le bouton tout à droite */
    margin-top: 20px; /* Espacement du bouton par rapport aux autres éléments */

}

/* choix du rectangle sans le bouton vert */
.tmp-label{
	flex-grow: 1;
	
}

/* validation du choix bouton rond transparent */
.tmp-input {
	display:none;
}

/* choix du rectangle avec le bouton vert */
.tmp-rectangle {
	display:flex;
	width:100%;	
}

/* bouton de validation vert qui apparaît au survol */
.tmp-rectangle:hover .tmp-check{
	display:block;
	width:50px;
	height:72px;
	background-color: #99e2d0;
	border-radius:0px 5px 5px 0px;
	border:solid;
}

/* icône font awesome check qui apparaît au survol */
.tmp-check {
	display:none;
}
/* bouton de validation vert qui apparaît au survol et icône font awesome check qui apparaît au survol */
.tmp-label:has(.tmp-input:checked)~.tmp-check{
	display: block;
}

/* CSS pour aligner les textes à gauche */
.tmp-label {
	text-align: left;
  }

  .form
  {
	display:none ;
  }